{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/all.css' %}">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/icon" href="{% static 'assets/images/logo.png' %}">
    <title>Welcome to Everlasting Funerals</title>
  </head>
  <body>
    <div className="container">
      <header id="header" className="header">
         <a href="/">
        <div className="logo">
          <img src="{% static 'assets/images/logo.png' %}">
        </div>
        </a>
         <ul className="navigation">
					<li><a href="/">HOME</a></li>
					<li><a href="About">ABOUT</a></li>
					<li><a href="funeral_policies">FUNERAL PLANS</a></li>
					<li><a href="Gallery">GALLERY</a></li>
					<li><a href="contact">CONTACT</a></li>
				</ul>
        <div className="menu">
          <span className="fas fa-bars"></span>
        </div>
      </header>
      <div className="Offers">
        <h2>Maximum age: 75 years</h2>
        <h2>Waiting period: 6 months</h2>
        <h1>Everlasting Funeral Offers:</h1>
    </div>
      <section className="Policies">
        
        <div className="policies-wrapper">
            <div className="card">
                <div className="heading">
                    <h2>PLAN A</h2>
                </div>
                <div className="amount">
                    <strong>R 280.00</strong>
                </div>
                <p><span className="fas fa-checked"></span>No joining fees</p>
                <ul className="card-services">
                    <li>Hearse</li>
                    <li>2 family cars</li>
                    <li>Flat - lid Casket</li>
                    <li>Pick-up and delivery</li>
                    <li>Registration of death</li>
                    <li>Church trolley and screen</li>
                    <li>50 chairs and tent</li>
                    <li>50 funeral programs</li>
                    <li>R100.00 airtime</li>
                    <li>Bus</li>
                    <li>Grave yard deco and refreshment</li>
                </ul>
                <table>
                    <thead>
                        <th>Groceries</th>
                        <th>Vegetables</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25kg maize meal</td>
                            <td>1 bag tomatoes</td>
                        </tr>
                        <tr>
                            <td>10kg flour</td>
                            <td>1 bag butternut</td>
                        </tr>
                        <tr>
                            <td>10kg rice</td>
                            <td>1 bag of potatoes</td>
                        </tr>
                        <tr>
                            <td>10kg sugar</td>
                            <td>1 bag of onions</td>
                        </tr>
                        <tr>
                            <td>10kg mabele</td>
                            <td>1 bag of cabbages</td>
                        </tr>
                        <tr>
                            <td>x6 2kg chicken mixed portion</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div className="card">
                <div className="heading">
                    <h2>PLAN B</h2>
                </div>
                <div className="amount">
                    <strong>R 350.00</strong>
                </div>
                <p><span className="fas fa-checked"></span>No joining fees</p>
                <ul className="card-services">
                    <li>Hearse</li>
                    <li>3 family cars</li>
                    <li>Face view Casket</li>
                    <li>Pick-up and delivery</li>
                    <li>Registration of death</li>
                    <li>Church trolley and screen</li>
                    <li>50 chairs and tent</li>
                    <li>50 funeral programs</li>
                    <li>R150.00 airtime</li>
                    <li>Bus</li>
                    <li>Grave yard deco and refreshment</li>
                </ul>
                <table>
                    <thead>
                        <th>Groceries</th>
                        <th>Vegetables</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25kg maize meal</td>
                            <td>1 bag tomatoes</td>
                        </tr>
                        <tr>
                            <td>10kg flour</td>
                            <td>2 bag butternut</td>
                        </tr>
                        <tr>
                            <td>10kg rice</td>
                            <td>2 bag of potatoes</td>
                        </tr>
                        <tr>
                            <td>10kg samp</td>
                            <td>1 bag of onions</td>
                        </tr>
                        <tr>
                            <td>10kg sugar</td>
                            <td>2 bag of cabbages</td>
                        </tr>
                        <tr>
                            <td>10kg mabele</td>
                            <td>1 bag of beetroots</td>
                        </tr>
                        <tr>
                            <td>x12 2kg chicken mixed portion</td>
                        </tr>
                    </tbody>
                </table>
                <strong>If no service condolences = R4000.00</strong>

            </div>
            <div className="card">
                <div className="heading">
                    <h2>PLAN C</h2>
                </div>
                <div className="amount">
                    <strong>R 450.00</strong>
                </div>
                <p><span className="fas fa-checked"></span>No joining fees</p>
                <ul className="card-services">
                    <li>Hearse</li>
                    <li>4 family cars</li>
                    <li>Quarter view Casket</li>
                    <li>Pick-up and delivery</li>
                    <li>Registration of death</li>
                    <li>Church trolley and screen</li>
                    <li>100 chairs and tent</li>
                    <li>100 funeral programs</li>
                    <li>R250.00 airtime</li>
                    <li>1 Bus or R1500</li>
                    <li>Grave yard deco and refreshment</li>
                </ul>
                <table>
                    <thead>
                        <th>Groceries</th>
                        <th>Vegetables</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>25kg maize meal</td>
                            <td>2 bag tomatoes</td>
                        </tr>
                        <tr>
                            <td>10kg flour</td>
                            <td>2 bag butternut</td>
                        </tr>
                        <tr>
                            <td>10kg rice</td>
                            <td>2 bag of potatoes</td>
                        </tr>
                        <tr>
                            <td>10kg samp</td>
                            <td>2 bag of onions</td>
                        </tr>
                        <tr>
                            <td>10kg sugar</td>
                            <td>2 bag of cabbages</td>
                        </tr>
                        <tr>
                            <td>10kg mabele</td>
                            <td>2 bag of beetroots</td>
                        </tr>
                        <tr>
                            <td>x18 2kg chicken mixed portion</td>
                        </tr>
                    </tbody>
                </table>
                <strong>If no service condolences = R4500.00</strong>

            </div>
        </div>
      </section>
      <section className="footer">
        <div className="footer-top">
          <div className="box-left footer-box">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="/">HOME</a></li>
					    <li><a href="About">ABOUT</a></li>
					    <li><a href="funeral_policies">FUNERAL PLANS</a></li>
					    <li><a href="Gallery">GALLERY</a></li>
					    <li><a href="contact">CONTACT</a></li>
            </ul>
          </div>
          <div className="box-center footer-box">
            <h2>Business Hours</h2>
            <ul>
              <li>Mon 08:00 - 16:30</li>
              <li>Tue 08:00 - 16:30</li>
              <li>Wed 08:00 - 16:30</li>
              <li>Thu 08 :00 - 16:30</li>
              <li>Fri 08:00 - 16:30</li>
              <li>Sat 08:00 - 13:00</li>
              <li>Sun Closed</li>
            </ul>
          </div>
          <div className="box-right footer-box">
            <h2>Contact Us</h2>
            <div className="contact-us">
              <ul>
                <li>
                  <span className="fas fa-map-marker"></span>
                  <p>APIESDORING DRIVE HEUWELROOD, 16, CENTURION, GAUTENG, 0157</p>
                </li>
                   <li>
                  <span className="fas fa-phone"></span>
                  <p>+27 67 991 0269</p>
                </li>
                <li>
                  <span className="fas fa-envelope"></span>
                  <p>Info@EverlastingFunerals.co.za</p>
                </li>
              </ul>
              <div className="socials">
                <ul>
                  <li><i className="fab fa-tiktok"></i></li>
                  <li><i className="fab fa-facebook"></i><a href="https://www.facebook.com"></a></li>
                  <li><i className="fab fa-instagram"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div className="footer-bottom">
          <div className="footer-wrapper">
            <p>Copyright &copy; 2025 | All rights reserved | Created by ViolTechSolutions</p>
          </div>
        </div>
      </section>
      <script type="text/javascript">
        const nav = document.querySelector('.navigation');
        const btn = document.querySelector('.menu');
        const icon = document.querySelector('.fas');
         btn.addEventListener('click', ()=>{
          nav.classNameList.toggle('active');
          icon.classNameList.toggle('fa-times');
         });
      </script>
    </div>
  </body>
</html>