{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/all.css' %}">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/icon" href="{% static 'assets/images/logo.png' %}">
    <title>Welcome to Everlasting Funerals</title>
  </head>
  <body>
    <div className="loader"></div>
    <div className="container">
      <header id="header" className="header">
         <a href="/">
        <div className="logo">
          <img src="{% static 'assets/images/logo.png' %}">
        </div>
        </a>
         <ul className="navigation">
					<li><a href="/">HOME</a></li>
					<li><a href="About">ABOUT</a></li>
					<li><a href="funeral_policies">FUNERAL PLANS</a></li>
					<li><a href="Gallery">GALLERY</a></li>
					<li><a href="contact">CONTACT</a></li>
				</ul>
        <div className="menu">
          <span className="fas fa-bars"></span>
        </div>
      </header>
     
      <section className="social-media">
        <br>
        <h1>Everlasting Funeral Tik Tok Feed</h1>
        <br>
        <div className="wrapper-grid">
          <div>
          <img src="{% static 'assets/images/fleets/fleet1.jpg' %}">
          </div>
          <div>
           <img src="{% static 'assets/images/fleets/fleet2.jpg' %}">
           </div>
           <div>
            <img src="{% static 'assets/images/fleets/fleet3.jpg' %}">
            </div>
            <div>
             <img src="{% static 'assets/images/fleets/fleet4.jpg' %}">
             </div>
             <div>
             <img src="{% static 'assets/images/fleets/fleet5.jpg' %}">
             </div>
             <div>
             <img src="{% static 'assets/images/fleets/fleet6.jpg' %}">
             </div>
             <div>
             <img src="{% static 'assets/images/fleets/fleet7.jpg' %}">
             </div>
        </div>
      </section>
      <section className="footer">
        <div className="footer-top">
          <div className="box-left footer-box">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="/">HOME</a></li>
					    <li><a href="About">ABOUT</a></li>
					    <li><a href="funeral_policies">FUNERAL PLANS</a></li>
					    <li><a href="Gallery">GALLERY</a></li>
					    <li><a href="contact">CONTACT</a></li>
            </ul>
          </div>
          <div className="box-center footer-box">
            <h2>Business Hours</h2>
            <ul>
              <li>Mon 08:00 - 16:30</li>
              <li>Tue 08:00 - 16:30</li>
              <li>Wed 08:00 - 16:30</li>
              <li>Thu 08 :00 - 16:30</li>
              <li>Fri 08:00 - 16:30</li>
              <li>Sat 08:00 - 13:00</li>
              <li>Sun Closed</li>
            </ul>
          </div>
          <div className="box-right footer-box">
            <h2>Contact Us</h2>
            <div className="contact-us">
              <ul>
                <li>
                  <span className="fas fa-map-marker"></span>
                  <p>364 Allemansdrift B, Mbibane, Libangeni Mpumalanga 0449</p>
                </li>
                   <li>
                  <span className="fas fa-phone"></span>
                  <p>076 145 6114 | 071 130 9065</p>
                </li>
                <li>
                  <span className="fas fa-envelope"></span>
                  <p>everlastingFuneral@gmail.com</p>
                </li>
              </ul>
              <div className="socials">
                <ul>
                  <li><i className="fab fa-tiktok"></i></li>
                  <li><i className="fab fa-facebook"></i><a href="https://www.facebook.com"></a></li>
                  <li><i className="fab fa-instagram"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div className="footer-bottom">
          <div className="footer-wrapper">
            <p>Copyright &copy; 2025 | All rights reserved | Created by ViolTechSolutions</p>
          </div>
        </div>
      </section>
      <script type="text/javascript">
         window.addEventListener("load",()=>{
            document.querySelector('.loader').classNameList.add('loader-hidden');

            //loader.addEventListener("transitionend", ()=>{
              //document.body.removeChild("loader");
            //});
          });
        const nav = document.querySelector('.navigation');
        const btn = document.querySelector('.menu');
        const icon = document.querySelector('.fas');
         btn.addEventListener('click', ()=>{
          nav.classNameList.toggle('active');
          icon.classNameList.toggle('fa-times');
         });
      </script>
    </div>
  </body>
</html>